<php>
    <html lang="de">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kontaktformular</title>
    </head>

    <body>

        <h2>Kontaktformular</h2>

        <form action="#" method="POST">
            <label for="name">Name:</label><br>

            <input type="text" id="name" name="name" size="40" maxlength="50" required>

            <label for="vorname">Vorname:</label><br>
            <input type="text" id="vorname" name="vorname" size="40" required><br>

            <label for="betreff">Betreff :</label><br>
            <input type="text" id="betreff" name="betreff" size="93"><br>

            <label for="email">E-Mail :</label><br>
            <input type="email" id="email" name="email" size="93" maxlength="200" required><br><br>

            <label for="nachricht">Nachricht:</label><br>
            <textarea id="nachricht" name="nachricht" size="200" required></textarea><br>

            <input type="submit" value="Absenden">
        </form>

    </body>

    </html>
</php>