body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.antrag-list {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  list-style: none;
}

.antrag-element {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.antrag-element span {
  flex-grow: 1;
  margin-right: 10px;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #0056b3;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

div > div {
  margin-top: 20px;
}
