body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  min-height: 70vh;
}
 
.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  text-transform: uppercase;
  margin-left: 40px;
}
 
.description {
  font-size: 20px;
  margin-bottom: 20px;
  width: 100%;
}
 
.content {
  font-size: 20px;
  margin-bottom: 10px;
}
 
.button-container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
 
.button {
  padding: 16px 64px;
  background-color: #007bff;
  text-decoration: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 900;
  border-radius: 00px 20px 0px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.button:hover {
  background-color: #0056b3;
}
.pdfcontent{
  width: 100%;
  height: 600px;
  border-radius: 20px;
}