/* Artikel-Stile */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.filter-bar {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s, cursor 0.3s;

}

.filter-bar button {
    background-color: #ddd;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.filter-bar button:hover {
    background-color: #ccc;

}

.filter-bar:hover {
    background-color: #eaeaea;
    cursor: pointer;

}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    /* Abstand zu den Seiten des übergeordneten Containers */
}

.article {
    width: calc(33.33% - 20px);
    /* 33.33% der Breite des übergeordneten Containers, mit 20px Abstand */
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    transition: box-shadow 0.3s, background-color 0.3s, cursor 0.3s;
}

.article:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    background-color: #beb7b7;
    cursor: default;
}

.article .article-details {
    padding: 10px;
}

.article .article-details h2 {
    margin-top: 0;
}

.article .article-details p.article-date {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #888;
    text-align: right;
}

.article .article-thumbnail img {
    width: 100%;
    height: auto;
    display: block;
}

/* Media Queries für kleinere Bildschirme */
@media only screen and (max-width: 768px) {
    .articles {
        justify-content: center;
        /* Zentriert die Artikel auf kleinen Bildschirmen */
    }

    .article {
        width: calc(50% - 20px);
        /* 50% der Breite des übergeordneten Containers, mit 20px Abstand */
    }
}

@media only screen and (max-width: 480px) {
    .article {
        width: calc(100% - 20px);
        /* 100% der Breite des übergeordneten Containers, mit 20px Abstand */
    }
}

.button {
    cursor: pointer;
}