body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-rows: auto min-content;
    gap: 10px;
    overflow-y: auto;
    max-height: calc(100vh - 40px);
}


h1 {
    margin-bottom: 30px;
}

.subtext {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;

}

.fixed-fields,
.editable-fields {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.fixed-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #0a0808;
    border-top: 1px solid #0a0808;
    padding-bottom: 10px;
}

.box {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
}

.adresse {
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    /* Vergrößerter Abstand nach oben */
    margin-bottom: 40px;
    /* Vergrößerter Abstand nach unten */


}

input[type="text"],
input[type="date"] {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #008CBA;
    color: white;
    border: 0;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    margin-top: 15px;
    grid-column: 1 / 3;
    justify-self: center;
}

button[type="submit"]:hover {
    background-color: #006B8E;
}

input[readonly] {
    background-color: #f5f5f5;
    cursor: not-allowed;
}



.btn-container {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    /* Hinzugefügt */
}

.btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}



.adresse {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.adresse .titel {
    margin-left: 0;
    margin-bottom: 5px;
}